html {
    scroll-behavior: smooth;
    /* transition-duration: 0.5ms; */
}

body {
    margin: 0;
    padding: 0;

    font-family: "SUSE", sans-serif;
}

a {
    color: black;
    text-transform: none;
    text-decoration: none;
}

.border {
    border: 10px solid lightgrey;
    border-radius: 4vw;

    box-shadow: 0 0 20px 10px lightgray;

}

nav {
    width: 100vw;
    background-color: white;
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
}

#main {
    margin-top: 50px;
}

#logo {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;

}

#logo:hover {
    cursor: default;
}

#nav-bar {
    height: 10vh;
    gap: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#nav-bar div {

    padding: 1vw;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 10px;
    border: 2px solid white;
}

#nav-bar div:hover {
    border: 2px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
}

/* #nav-bar ul {
    height: 10vh;
    font-size: larger;

    position: static;
    gap: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
} */

/* *********************Header *************************** */
#header {
    display: flex;
    padding-top: 10vh;

    flex-wrap: wrap;
}

#profile {
    width: 50vw;
    display: flex;
    justify-content: center;
}

#profile-pic {
    margin: 2vw;
    width: 35vw;
    border: none;
    border-radius: 100%;
}

#discription {
    margin: auto;
    padding: 2vw;
    width: 40vw;
    font-size: large;
    border: none;


    box-shadow: 10px black;
}
#discription > button{
    border: none;
    height: 30px;
    width: 100px;
    font-size: small;
    /* color: white; */
    font-weight: bolder;
    background-color: lightgray;
    border-radius: 10px;
}
#discription > button:hover{
    background-color: rgb(185, 184, 184);

}
/* ***********************Main***************************** */
#projects {
    padding: 100px 0;
}

#project-title {
    margin: 2vw;
    padding: 2vw;

    text-align: center;
    border: none;

}

#project-div {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;

}

#project-div>div {
    margin: auto;
    padding: 2vw;
    width: 20vw;
    font-size: large;
    border-radius: 4vw;

    box-shadow: none;
}

#education {

    padding: 100px 0;

}

#education-title {
    margin: 2vw;
    padding: 2vw;

    text-align: center;
    border: none;

}

#education-div {
    display: flex;
    flex-wrap: wrap;

}

#education-div>div {
    margin: auto;
    padding: 2vw;
    width: 20vw;
    font-size: large;
    border-radius: 4vw;
    box-shadow: none;
}

#contact {
    padding: 100px 0;

}

#contact-title {
    margin: 2vw;
    padding: 2vw;

    text-align: center;
    border: none;

}

#contact-div {
    display: flex;
    flex-wrap: wrap;
    
}

#contact-div>div {
    margin: auto;
    padding: 2vw;
    width: 20vw;
    font-size: large;
    border-radius: 4vw;
    box-shadow: none;
    text-align: center;
}

/* *******************footer ************************** */

#back-to-top {
    display: flex;
    height: 8vh;
    /* margin-top: 5vh; */

    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#back-to-top:hover {
    background-color: rgb(175, 175, 175);

}

#footer {
    height: 100px;
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* **********************Media queries******************* */

@media screen and (max-width: 800px) {

    #header,
    #education,
    #projects,
    #contact {

        padding-top: 100px;
        padding-bottom: 100px;
    }

    #contact {
        /* padding-bottom: 50px; */
    }

    #profile {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    /* #profile-pic {
        margin-bottom: 50px ;
        width: 80vw;
    } */

    /* #discription {
        margin: auto;
        width: 80vw;
    }

    #project-div>div {
        margin: auto;
        margin-top: 2vw;
        width: 80vw;
    }

    #education-div>div {
        margin: auto;
        margin-top: 2vw;
        width: 80vw;
    } */
    /* #contact-div > div{
        margin-top: 10vw;

        width: 80vw;
    }  */

    #profile-pic, 
    #discription,
    #project-div>div, 
    #education-div>div,
    #contact-div > div{
        margin: auto;
        margin-top: 10vw;
        width: 80vw;
    }
}