html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    font-family: "SUSE", sans-serif;
}
a{
    color: black;
    text-transform: none;
    text-decoration: none;
}

.border{
    border: 10px solid lightgrey;
    border-radius: 4vw;
}
/* @media screen and (max-width: 500px) {
        body{
            margin: 0 10px;
            padding: 0;
        }
        #profile-pic{
            margin: 0;
            padding: 0;
            width: 50vw;
        }
    } */
nav {
    /* height: 20vh; */
    width: 100vw;
    background-color: white;
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;

    /* background-color: aqua; */
}

#main{
    margin-top: 50px;
}
#logo {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    /* border: 2px solid black; */

}

#logo:hover {
    cursor: default;
}

#nav-bar {
    height: 10vh;
    gap: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}

#nav-bar div {
    
    /* margin: 2vw; */
    
    padding: 1vw;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 10px;
    border: 2px solid white;
}

#nav-bar div:hover {
    border: 2px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
}

/* @media (min-width: 500px) {
        #profile{
            background-color: black;
        }
    } */
#nav-bar ul {
    height: 10vh;
    font-size: larger;

    position: static;
    gap: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    /* justify-content: space-; */
}
/* ************************************************ */
#header {
    display: flex;
    /* padding: 0 50px; */
    flex-wrap: wrap;
    /* height: 500px; */
    /* background-color: bisque; */
}

#profile-pic {
    /* box-sizing: border-box; */
    margin: 2vw;
    width: 40vw;
    border-radius: 100%;
}
#discription {
    margin: auto;
    padding: 2vw;
    width: 40vw;
    font-size: large;
}

/* **************************************************** */
#projects {
    /* padding: 2vw; */
    /* height: 500px;
    background-color: blueviolet; */

}
#project-title{
    margin: 2vw;
    text-align: center;

}
#project-div{
    display: flex;
    flex-wrap: wrap;

}
#project-div > div{
    margin: auto;
    padding: 2vw;
    width: 20vw;
    font-size: large;
    border-radius: 4vw;
}

#education {

}
#education-title{
    margin: 2vw;
    text-align: center;

}
#education-div{
    display: flex;
    flex-wrap: wrap;

}
#education-div > div{
    margin: auto;
    padding: 2vw;
    width: 20vw;
    font-size: large;
    border-radius: 4vw;
}
#contact {
    height: 500px;
    background-color: brown;
}

/* *******************footer ************************** */

#back-to-top {
    display: flex;
    height: 8vh;

    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#back-to-top:hover {
    background-color: rgb(175, 175, 175);

}

#footer {
    height: 100px;
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* **********************Media queries******************* */

@media screen and (max-width: 800px) {
    #profile{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
    #profile-pic{
        /* margin: ; */
        width: 80vw;

    }
    #discription{
        margin: auto;
        width: 80vw;
    }
    #project-div > div{
        margin: auto;
        margin-top: 2vw;
        width: 80vw;
    }
    #education-div > div{
        margin: auto;
        margin-top: 2vw;
        width: 80vw;
    }
}