html {
    scroll-behavior: smooth;
    /* transition-duration: 0.5ms; */
}

body {
    margin: 0;
    padding: 0;

    font-family: "SUSE", sans-serif;
}

a {
    color: black;
    text-transform: none;
    text-decoration: none;
}

.border {
    border-radius: 4vw;
    border: 2px solid lightgrey;

    box-shadow: 0 0 20px 10px lightgray;

}

nav {
    width: 100vw;
    background-color: white;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    }
    #logo {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
        font-weight: bolder;
    }
    #logo:hover {
        cursor: default;
    }

    #nav-bar {
        height: 10vh;
        gap: 2vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
        #nav-bar div {
            padding: 1vw;
            font-size: large;
            border-radius: 10px;
            border: 2px solid white;
        }
        #nav-bar div:hover {
            border: 2px solid rgb(230, 230, 230);
            background-color: rgb(230, 230, 230);
        }

/* #nav-bar ul {
    height: 10vh;
    font-size: larger;

    position: static;
    gap: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
} */

/* *********************Header *************************** */
#header {
    display: flex;
    /* padding-top: 10vh; */

    flex-wrap: wrap;
}
    #profile {
        width: 50vw;
        display: flex;
        justify-content: center;
    }
        #profile-pic {
            margin: 2vw;
            width: 35vw;
            border: none;
            border-radius: 100%;
        }

    #discription {
        margin: auto;
        padding: 2vw;
        width: 40vw;
        font-size: large;
        border: none;
        box-shadow: 10px black;
    }
        #discription > button{
            border: none;
            height: 30px;
            width: 100px;
            font-size: small;
            /* color: white; */
            font-weight: bolder;
            background-color: lightgray;
            border-radius: 10px;
        }
        #discription > button:hover{
            background-color: rgb(185, 184, 184);

        }
/* ***********************Main***************************** */
#header, #projects, #education, #contact {
    padding: 100px 0;
}

.sub-title{
    margin: 2vw;
    padding: 1vw;

    text-align: center;
    border: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    /* padding: 2vw; */
}

.container > div{
    margin: 4vw;
    padding: 2vw;
    width: 20vw;
    font-size: large;
    border-radius: 4vw;

    box-shadow: none;
}
.container > div:hover{
    /* cursor:none; */
    box-shadow:  0 0 20px 10px lightgray;
}
.image{
    margin: auto;
    width: 20vw;
    height: 20vh;
    border-radius: 5px;
    /* border: 2px solid black; */
}

.smore{
    padding: auto;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smore > div{
    padding: 1vw;
    width: 50vw;

    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border: none;
}
    .smore > div:hover{
        background-color: gray;
    }

#contact-div > div{
    margin: auto;
}
#contact-div > div a:hover{
    text-decoration: underline;
}

.container > div:active, #nav-bar > div:active, .smore > div:active{
    
    border-color: aqua;
}
/* *******************footer ************************** */

#back-to-top {
    display: flex;
    height: 8vh;
    /* margin-top: 5vh; */

    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
    #back-to-top:hover {
        background-color: rgb(175, 175, 175);

    }

#footer {
    height: 100px;
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* **********************Media queries******************* */

@media screen and (max-width: 950px) {

    #header,
    #education,
    #projects,
    #contact {

        padding-top: 130px;
        /* padding-bottom: 100px; */
    }

    #profile {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #discription,.container > div{
        padding: 4vw;
    }
    #profile-pic, 
    #discription,
    #project-div>div, 
    #education-div>div,
    #contact-div > div{
        margin: auto;
        margin-top: 10vw;
        width: 80vw;
    }

    .image{
        margin: 0 10vw;
        width: 60vw;
        height: 20vh;
        /* border: 2px solid black; */
    }
}